/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #dfdfdf;
  background-image: url('/static/imagenes/Inclinado-Web.png');;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: 150px 150px;
  
}

header {
  background: -webkit-linear-gradient(
    left,
    #003366,
    #004080,
    #0059b3,
    #036dd6
    );
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.header-title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #0059b3;
}

/* Main Content */
main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px); /* Adjust for header height */
}

.welcome-message {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-message p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

#user-name {
  font-weight: bold;
}

.action-button {
  background: #1a75ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, opacity 0.3s;
}

.action-button:hover {
  background: #0059b3;
}

/* Estilos para el botón deshabilitado */
.action-button:disabled {
  background: #cccccc; /* Color de fondo para deshabilitado */
  color: #666666; /* Color del texto para deshabilitado */
  cursor: not-allowed; /* Cambia el cursor para indicar que no está permitido */
  opacity: 0.6; /* Reduce la opacidad para dar un efecto visual de deshabilitado */
}

/* Estilos para la palomita dentro de un círculo */
.checkmark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fff; /* Mismo color que el fondo del contenedor */
  border: 4px solid #28a745; /* Borde verde */
  border-radius: 50%;
  margin: 0 auto 20px; /* Centrado y margen inferior */
  animation: drawCircle 0.5s ease-in-out forwards;
  position: relative;
}

.checkmark {
  font-size: 60px;
  color: #28a745; /* Palomita del mismo color que el fondo del contenedor */
  position: absolute;
  animation: drawCheckmark 0.5s ease-in-out forwards;
  opacity: 0;
}

/* General Styles for Forms */
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

/* Style for form labels and inputs */
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  min-width: 300;
}

form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #1a75ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0059b3;
}

/* Style for alert messages */
.alert {
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  color: #fff;
}
.login {
  max-width: 500px; /* Ajusta según el tamaño deseado */
  margin: 0 auto; /* Centra horizontalmente el formulario */
  padding: 20px; /* Espacio interno para el formulario */
  border: 1px solid #ddd; /* Opcional: agrega un borde para visibilidad */
  border-radius: 8px; /* Opcional: agrega bordes redondeados */
  text-align: center; /* Centra el texto y los elementos dentro del formulario */
}
.alert-success {
  background-color: #4caf50;
  
}

.alert-danger {
  background-color: #f44336;
}

.alert-warning {
  background-color: #ff9800;
}

.alert-info {
  background-color: #2196f3;
}



#previewContainer {
  max-height: 500px; /* Ajusta según tus necesidades */
  overflow-y: auto;
}


/* Information Container */
.info-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.info-container p {
  margin: 10px 0;
  font-size: 16px;
}

.info-container p span {
  font-weight: bold;
}


/* Estilos para el calendario */
table.calendar {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

table.calendar th, table.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table.calendar th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table.calendar td.hoy {
  border: 2px solid #0055d4; /* Borde azul para resaltar el día actual */
  
}
/* Días del calendario */
table.calendar td {
  background-color: #ffffff;
  color: #000;
  font-size: 1em;
}

/* Día marcado como cobrado */
table.calendar td.cobrado {
  background-color: #28a745; /* Verde para los días cobrados */
  color: #fff;
  font-weight: bold;
}

/* Día no cobrado */
table.calendar td.no-cobrado {
  background-color: #dc3545; /* Rojo para los días no cobrados */
  color: #fff;
  font-weight: bold;
}
table.calendar td.disabled {
  background-color: #eeeeee; /* Color de fondo para los días deshabilitados */
  color: #838383; /* Color del texto para los días deshabilitados */
  cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede interactuar */
  
}
/* Ocultar columnas de Sábado y Domingo */
table.calendar th:nth-child(6),
table.calendar th:nth-child(7) {
    display: none; /* Ocultar encabezados de Sábado y Domingo */
}

table.calendar td:nth-child(6),
table.calendar td:nth-child(7) {
    display: none; /* Ocultar celdas de Sábado y Domingo */
}
/* Estilo para los días vacíos en el calendario */
table.calendar td.empty {
  background-color: #f9f9f9;
  color: #ccc;
}

/* Estilo para el encabezado del calendario */
.calendario-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #003366;
}

/* Contenedor del calendario con estilo de envoltura */
.calendario-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  
  
}
.calendario-container h1{
  text-align: center;
  font-size: 1.5em;
}
.faltas-info {
  color: #fff; /* Color de texto predeterminado */
  font-style: bold;
}

.faltas-info.sin-faltas {
  color: #28a745; /* Verde para sin faltas */
  font-style: bold;
}

.faltas-info.con-faltas {
  color: #dc3545; /* Rojo para con faltas */
  font-style: bold;
}
/* Estilos para el calendario en dispositivos móviles */
@media (max-width: 768px) {
  table.calendar {
      font-size: 0.8em; /* Reducir el tamaño de fuente en pantallas pequeñas */
  }

  table.calendar th, table.calendar td {
      padding: 5px; /* Reducir el padding para que quepa mejor en pantallas pequeñas */
  }

  table.calendar td {
      font-size: 0.8em; /* Reducir el tamaño de fuente en las celdas */
  }

  /* Ajustar el contenedor del calendario para pantallas más pequeñas */
  .calendario-container {
      padding: 10px; /* Reducir el padding */
      border-radius: 8px; /* Ajustar el radio del borde */
  }

  .calendario-header {
      font-size: 1.2em; /* Reducir el tamaño de la fuente del encabezado */
  }
}
/* Estilo para los días deshabilitados */
.disabled {
  background-color: #e0e0e0; /* Color de fondo gris claro para días deshabilitados */
  color: #999; /* Color de texto gris */
  cursor: not-allowed;
}

/* Animación para el círculo */
@keyframes drawCircle {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animación para la palomita */
@keyframes drawCheckmark {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Menu for mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #003366;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        width: 200px;
        flex-direction: column;
        padding: 10px;
    }

    nav ul {
        display: block;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }
}

nav.show {
    display: flex;
    background: -webkit-linear-gradient(
    right,
    #003366,
    #004080,
    #0059b3,
    #036dd6
    );
}
