{% extends './admin_layout.html'%}

{%block body%}
<main>
    
        
    <div class="container">
        <form action="{{ url_for('alta_becario') }}" method="post">
            <h1 class="header-title">Activar Usuarios</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Número de Control</th>
                        <th>Campus</th>
                        <th>Activar <input type="checkbox" id="seleccionar_todos"></th>
                        <th>X</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios_pendientes %}
                    <tr>
                        <td>{{ usuario[0] }}</td>
                        <td>{{ usuario[1] }}</td>
                        <td>{{ usuario[2] }}</td>
                        <td><input type="checkbox" class="checkbox-user" name="numcontrol" value="{{ usuario[1] }}"></td>
                        <td>
                            <a href="{{ url_for('rechazar_usuario', numcontrol=usuario[1]) }}" class="edit-button">X</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <br>
            <button class="action-button" type="submit">Activar Seleccionados</button>
            <br>
            
        </form>
        <form action="{{ url_for('baja_usuario') }}" method="post">
            <button class="action-button-baja" type="submit">Baja de Usuarios</button>
        </form>
        
        {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
</main>

    <script src="{{ url_for('static',filename='js/seleccionar_todos.js')}}"></script>
    
{%endblock%}