{% extends './admin_layout.html'%}

{%block body%}
<main class="main_content">
    
<div class="edit-form">
    <form action="{{ url_for('editar_usuario', id=id) }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ usuario[0] }}" disabled>

        <label for="numcontrol">Número de Control:</label>
        <input type="text" id="numcontrol" name="numcontrol" value="{{ usuario[1] }}" disabled>

        <label for="campus">Campus:</label>
        <input type="text" id="campus" name="campus" value="{{ usuario[2] }}" disabled>

        <label for="contrasena">Nueva Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>

        <button type="submit">Actualizar Contraseña</button>
    </form>
</div>
</main>
    
{%endblock%}