
{% extends './admin_layout.html'%}

{%block body%}
<main>
    <div class="container">
    <div class="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número de Control</th>
                    <th>Campus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                    <td>{{ usuario[3] }}</td>
                    <td>
                        <a href="{{ url_for('editar_usuario', id=usuario[0]) }}" class="edit-button">Editar Contraseña</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</main>    
    
{%endblock%}