{% extends './admin_layout.html'%}

{%block body%}

<main>
    <div class="container">
        <form action="{{ url_for('eliminar_respaldos') }}" method="post">
                <h1 class="header-title">Respaldos Semanales</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre del Archivo</th>
                                <th>Fecha de Creación</th>
                                <th>Acciones</th>
                                <th>Eliminar <input type="checkbox" id="seleccionar_todos"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for respaldo in respaldos %}
                            <tr>
                                <td>{{ respaldo[1] }}</td>
                                <td>{{ respaldo[2] }}</td>
                                <td><a href="{{ url_for('descargar_respaldo', respaldo_id=respaldo[0]) }}">Descargar</a></td>
                                <td><input type="checkbox" class="checkbox-user" name="respaldos" value="{{ respaldo[0] }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>      
                </div>
                <br>
                <button class="action-button" type="submit">Eliminar Respaldos</button>
        </form>
        <br>
        {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <form action="{{ url_for('crear_respaldo_manual') }}" method="post">
            <button type="submit" class="action-button-respaldo">Crear Respaldo Manual</button>
        </form>     
    </div>
</main>
<script src="{{ url_for('static',filename='js/seleccionar_todos.js')}}"></script>    
{%endblock%}